<container class ="container">
<!-- Loop over each object in the users array from resultsRoutes.js to create a user card with the results -->

<section
      class="page-2 row align-items-center justify-content-around vh-100"
    >
      <!-- users display div -->
      <div class="box">
        <div id="overlay">
          <div style="background-image: url('/images/anastase-maragos-DHsdSeCpjRU-unsplash.jpg');" class="image">
            <div class="trick">
    
            </div>
          </div>
          <ul class="text">{{user.first_name}} {{user.last_name}}</ul>
          <p class="text1">{{user.city}}</p>
          <p class="text1">{{user.gender}}, {{user.age}}</p>
          <p class="text1">{{user.fitness_level}}</p>
          <p class="text1">{{user.availability}}</p>
    </section>
</container>